{% extends 'base.html' %}

{% block content %}
<!--CONTENT CONTAINER-->
<!--===================================================-->
<div id="content-container">

    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">
            {% if menu2 %}
            {{ menu2.1 }}
            {% else %}
            {{ menu.1 }}
            {% endif %}
        </h1>

        <!--Searchbox-->
{#        <div class="searchbox">#}
{#            <div class="input-group custom-search-form">#}
{#                <input type="text" class="form-control" placeholder="Search..">#}
{#                <span class="input-group-btn">#}
{#                    <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>#}
{#                </span>#}
{#            </div>#}
{#        </div>#}

    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->


    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">总览</a></li>
        {% if menu2 %}
        <li><a href="#">{{ menu.1 }}</a></li>
        <li class="active">{{ menu2.1 }}</li>
        {% else %}
        <li class="active"><a href="#">{{ menu.1 }}</a></li>
        {% endif %}
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->


    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
        <h4 class="text-main pad-btm bord-btm">安卓市场</h4>

        <div class="row">
            <div class="eq-height">
                <div class="col-md-6 col-lg-4 eq-box-lg">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">每日下载量</h3>
                        </div>
                        <div class="panel-body">
                            <!--Morris Bar Chart placeholder -->
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <div id="android-downloads" style="height:212px"></div>
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 eq-box-lg">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">渠道比重</h3>
                        </div>
                        <div class="panel-body">

                            <!--Flot Donut Chart placeholder -->
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <div id="android-downloads-pie" style="height:212px"></div>
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <h4 class="text-main pad-btm bord-btm">苹果</h4>

        <div class="row">
            <div class="eq-height">
{#                <div class="col-md-12 col-lg-4 eq-box-lg">#}
{#                    <div class="panel">#}
{#                        <div class="panel-heading">#}
{#                            <h3 class="panel-title">应用市场(下载量)</h3>#}
{#                        </div>#}
{#                        <div class="panel-body">#}
{##}
{#                            <!--Flot Donut Chart placeholder -->#}
{#                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->#}
{#                            <div id="android-downloads" style="height:212px"></div>#}
{#                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <div class="col-md-12 col-lg-4 eq-box-lg">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">总榜排行</h3>
                        </div>
                        <div class="panel-body">
                            <!--Morris Bar Chart placeholder -->
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <div id="apple-rank" style="height:212px"></div>
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="text-main pad-btm bord-btm">百度</h4>

        <div class="row">
            <div class="eq-height">
                <div class="col-md-12 col-lg-4 eq-box-lg">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">每日下载量</h3>
                        </div>
                        <div class="panel-body">
                            <!--Morris Bar Chart placeholder -->
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <div id="baidu-downloads" style="height:212px"></div>
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="text-main pad-btm bord-btm">应用宝</h4>

        <div class="row">
            <div class="eq-height">
                <div class="col-md-12 col-lg-4 eq-box-lg">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">每日下载量</h3>
                        </div>
                        <div class="panel-body">
                            <!--Morris Bar Chart placeholder -->
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <div id="yingyongbao-downloads" style="height:212px"></div>
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="text-main pad-btm bord-btm">360</h4>

        <div class="row">
            <div class="eq-height">
                <div class="col-md-12 col-lg-4 eq-box-lg">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">每日下载量</h3>
                        </div>
                        <div class="panel-body">
                            <!--Morris Bar Chart placeholder -->
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <div id="360-downloads" style="height:212px"></div>
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="text-main pad-btm bord-btm">华为</h4>

        <div class="row">
            <div class="eq-height">
                <div class="col-md-12 col-lg-4 eq-box-lg">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">每日下载量</h3>
                        </div>
                        <div class="panel-body">
                            <!--Morris Bar Chart placeholder -->
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <div id="huawei-downloads" style="height:212px"></div>
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="text-main pad-btm bord-btm">Oppo</h4>

        <div class="row">
            <div class="eq-height">
                <div class="col-md-12 col-lg-4 eq-box-lg">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">每日下载量</h3>
                        </div>
                        <div class="panel-body">
                            <!--Morris Bar Chart placeholder -->
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <div id="oppo-downloads" style="height:212px"></div>
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End page content-->


</div>
<!--===================================================-->
<!--END CONTENT CONTAINER-->
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#{{ menu.0 }}').addClass('active active-sub').children(
        'a').attr('aria-expanded', 'true').siblings('ul').addClass('in');
    {% if menu2 %}
    $('#{{ menu2.0 }}').addClass('active-link');
    {% endif %}
    // 总下载量
    Morris.Line({
        element: 'android-downloads',
            data: [
                { y: '2018-2-1', a: 14119630043},
                { y: '2018-2-2', a: 11012960012},
                { y: '2018-2-3', a: 11512340023},
                { y: '2018-2-4', a: 11712346033},
                { y: '2018-2-5', a: 11212378300},
                { y: '2018-2-6', a: 16123435013},
                { y: '2018-2-7', a: 15340024233},
                { y: '2018-2-8', a: 13340024233},
                { y: '2018-2-9', a: 14340024233},
                { y: '2018-2-10', a: 16340024233},
                { y: '2018-2-11', a: 17340024233},
                { y: '2018-2-12', a: 18340024233},
                { y: '2018-2-13', a: 19340024233},
                { y: '2018-2-14', a: 10340024233},
                { y: '2018-2-15', a: 12340024233},
                { y: '2018-2-16', a: 11340024233},
                { y: '2018-2-17', a: 9340024233},
                { y: '2018-2-18', a: 8340024233},
                { y: '2018-2-19', a: 10340024233},
                { y: '2018-2-21', a: 11340024233},
                { y: '2018-2-22', a: 7340024233},
                { y: '2018-2-23', a: 8340024233},
                { y: '2018-2-24', a: 6340024233},
                { y: '2018-2-25', a: 13340024233},
                { y: '2018-2-26', a: 10340024233},
                { y: '2018-2-27', a: 11340024233},
                { y: '2018-2-28', a: 19340024233}
            ],
        hideHover: 'auto',
        gridEnabled: false,
        xkey: 'y',
        ykeys: ['a'],
        labels: ['下载量'],
        resize:true
    });

    // 渠道比重
    var dataSet = [
        { label: "应用宝", data: 4119630000, color: "#177bbb" },
        { label: "360", data: 1012960000, color: "#a6c600" },
        { label: "Oppo", data: 727080000, color: "#8669CC" },
        { label: "百度", data: 344120000, color: "#f84f9a" }
    ];

    $.plot('#android-downloads-pie', dataSet, {
        series: {
            pie: {
                show: true,
                combine: {
                    color: '#999',
                    threshold: 0.1
                }
            }
        },
        legend: {
        show: false
        }
    });

    // 苹果
    Morris.Line({
        element: 'apple-rank',
        data: [
            { y: '2018-2-1', a: 1},
            { y: '2018-2-2', a: 2},
            { y: '2018-2-3', a: 3},
            { y: '2018-2-4', a: 1},
            { y: '2018-2-5', a: 8},
            { y: '2018-2-6', a: 9},
            { y: '2018-2-7', a: 10},
            { y: '2018-2-8', a: 6},
            { y: '2018-2-9', a: 7},
            { y: '2018-2-10', a: 12},
            { y: '2018-2-11', a: 4},
            { y: '2018-2-12', a: 5},
            { y: '2018-2-13', a: 7},
            { y: '2018-2-14', a: 9},
            { y: '2018-2-15', a: 1},
            { y: '2018-2-16', a: 2},
            { y: '2018-2-17', a: 4},
            { y: '2018-2-18', a: 4},
            { y: '2018-2-19', a: 5},
            { y: '2018-2-21', a: 8},
            { y: '2018-2-22', a: 9},
            { y: '2018-2-23', a: 6},
            { y: '2018-2-24', a: 3},
            { y: '2018-2-25', a: 2},
            { y: '2018-2-26', a: 6},
            { y: '2018-2-27', a: 4},
            { y: '2018-2-28', a: 2}
        ],
        ymax: 0,
        ymin: 20,
        hideHover: 'auto',
        gridEnabled: false,
        xkey: 'y',
        ykeys: ['a'],
        labels: ['下载量'],
        resize:true
    });

    // 百度
    Morris.Line({
        element: 'baidu-downloads',
            data: [
                { y: '2018-2-1', a: 14119630043},
                { y: '2018-2-2', a: 11012960012},
                { y: '2018-2-3', a: 11512340023},
                { y: '2018-2-4', a: 11712346033},
                { y: '2018-2-5', a: 11212378300},
                { y: '2018-2-6', a: 16123435013},
                { y: '2018-2-7', a: 15340024233},
                { y: '2018-2-8', a: 13340024233},
                { y: '2018-2-9', a: 14340024233},
                { y: '2018-2-10', a: 16340024233},
                { y: '2018-2-11', a: 17340024233},
                { y: '2018-2-12', a: 18340024233},
                { y: '2018-2-13', a: 19340024233},
                { y: '2018-2-14', a: 10340024233},
                { y: '2018-2-15', a: 12340024233},
                { y: '2018-2-16', a: 11340024233},
                { y: '2018-2-17', a: 9340024233},
                { y: '2018-2-18', a: 8340024233},
                { y: '2018-2-19', a: 10340024233},
                { y: '2018-2-21', a: 11340024233},
                { y: '2018-2-22', a: 7340024233},
                { y: '2018-2-23', a: 8340024233},
                { y: '2018-2-24', a: 6340024233},
                { y: '2018-2-25', a: 13340024233},
                { y: '2018-2-26', a: 10340024233},
                { y: '2018-2-27', a: 11340024233},
                { y: '2018-2-28', a: 19340024233}
            ],
        hideHover: 'auto',
        gridEnabled: false,
        xkey: 'y',
        ykeys: ['a'],
        labels: ['下载量'],
        resize:true
    });

    // 应用宝
    Morris.Line({
        element: 'yingyongbao-downloads',
            data: [
                { y: '2018-2-1', a: 14119630043},
                { y: '2018-2-2', a: 11012960012},
                { y: '2018-2-3', a: 11512340023},
                { y: '2018-2-4', a: 11712346033},
                { y: '2018-2-5', a: 11212378300},
                { y: '2018-2-6', a: 16123435013},
                { y: '2018-2-7', a: 15340024233},
                { y: '2018-2-8', a: 13340024233},
                { y: '2018-2-9', a: 14340024233},
                { y: '2018-2-10', a: 16340024233},
                { y: '2018-2-11', a: 17340024233},
                { y: '2018-2-12', a: 18340024233},
                { y: '2018-2-13', a: 19340024233},
                { y: '2018-2-14', a: 10340024233},
                { y: '2018-2-15', a: 12340024233},
                { y: '2018-2-16', a: 11340024233},
                { y: '2018-2-17', a: 9340024233},
                { y: '2018-2-18', a: 8340024233},
                { y: '2018-2-19', a: 10340024233},
                { y: '2018-2-21', a: 11340024233},
                { y: '2018-2-22', a: 7340024233},
                { y: '2018-2-23', a: 8340024233},
                { y: '2018-2-24', a: 6340024233},
                { y: '2018-2-25', a: 13340024233},
                { y: '2018-2-26', a: 10340024233},
                { y: '2018-2-27', a: 11340024233},
                { y: '2018-2-28', a: 19340024233}
            ],
        hideHover: 'auto',
        gridEnabled: false,
        xkey: 'y',
        ykeys: ['a'],
        labels: ['下载量'],
        resize:true
    });

    // 360
    Morris.Line({
        element: '360-downloads',
            data: [
                { y: '2018-2-1', a: 14119630043},
                { y: '2018-2-2', a: 11012960012},
                { y: '2018-2-3', a: 11512340023},
                { y: '2018-2-4', a: 11712346033},
                { y: '2018-2-5', a: 11212378300},
                { y: '2018-2-6', a: 16123435013},
                { y: '2018-2-7', a: 15340024233},
                { y: '2018-2-8', a: 13340024233},
                { y: '2018-2-9', a: 14340024233},
                { y: '2018-2-10', a: 16340024233},
                { y: '2018-2-11', a: 17340024233},
                { y: '2018-2-12', a: 18340024233},
                { y: '2018-2-13', a: 19340024233},
                { y: '2018-2-14', a: 10340024233},
                { y: '2018-2-15', a: 12340024233},
                { y: '2018-2-16', a: 11340024233},
                { y: '2018-2-17', a: 9340024233},
                { y: '2018-2-18', a: 8340024233},
                { y: '2018-2-19', a: 10340024233},
                { y: '2018-2-21', a: 11340024233},
                { y: '2018-2-22', a: 7340024233},
                { y: '2018-2-23', a: 8340024233},
                { y: '2018-2-24', a: 6340024233},
                { y: '2018-2-25', a: 13340024233},
                { y: '2018-2-26', a: 10340024233},
                { y: '2018-2-27', a: 11340024233},
                { y: '2018-2-28', a: 19340024233}
            ],
        hideHover: 'auto',
        gridEnabled: false,
        xkey: 'y',
        ykeys: ['a'],
        labels: ['下载量'],
        resize:true
    });

    // 华为
    Morris.Line({
        element: 'huawei-downloads',
            data: [
                { y: '2018-2-1', a: 14119630043},
                { y: '2018-2-2', a: 11012960012},
                { y: '2018-2-3', a: 11512340023},
                { y: '2018-2-4', a: 11712346033},
                { y: '2018-2-5', a: 11212378300},
                { y: '2018-2-6', a: 16123435013},
                { y: '2018-2-7', a: 15340024233},
                { y: '2018-2-8', a: 13340024233},
                { y: '2018-2-9', a: 14340024233},
                { y: '2018-2-10', a: 16340024233},
                { y: '2018-2-11', a: 17340024233},
                { y: '2018-2-12', a: 18340024233},
                { y: '2018-2-13', a: 19340024233},
                { y: '2018-2-14', a: 10340024233},
                { y: '2018-2-15', a: 12340024233},
                { y: '2018-2-16', a: 11340024233},
                { y: '2018-2-17', a: 9340024233},
                { y: '2018-2-18', a: 8340024233},
                { y: '2018-2-19', a: 10340024233},
                { y: '2018-2-21', a: 11340024233},
                { y: '2018-2-22', a: 7340024233},
                { y: '2018-2-23', a: 8340024233},
                { y: '2018-2-24', a: 6340024233},
                { y: '2018-2-25', a: 13340024233},
                { y: '2018-2-26', a: 10340024233},
                { y: '2018-2-27', a: 11340024233},
                { y: '2018-2-28', a: 19340024233}
            ],
        hideHover: 'auto',
        gridEnabled: false,
        xkey: 'y',
        ykeys: ['a'],
        labels: ['下载量'],
        resize:true
    });

    // Oppo
    Morris.Line({
        element: 'oppo-downloads',
            data: [
                { y: '2018-2-1', a: 14119630043},
                { y: '2018-2-2', a: 11012960012},
                { y: '2018-2-3', a: 11512340023},
                { y: '2018-2-4', a: 11712346033},
                { y: '2018-2-5', a: 11212378300},
                { y: '2018-2-6', a: 16123435013},
                { y: '2018-2-7', a: 15340024233},
                { y: '2018-2-8', a: 13340024233},
                { y: '2018-2-9', a: 14340024233},
                { y: '2018-2-10', a: 16340024233},
                { y: '2018-2-11', a: 17340024233},
                { y: '2018-2-12', a: 18340024233},
                { y: '2018-2-13', a: 19340024233},
                { y: '2018-2-14', a: 10340024233},
                { y: '2018-2-15', a: 12340024233},
                { y: '2018-2-16', a: 11340024233},
                { y: '2018-2-17', a: 9340024233},
                { y: '2018-2-18', a: 8340024233},
                { y: '2018-2-19', a: 10340024233},
                { y: '2018-2-21', a: 11340024233},
                { y: '2018-2-22', a: 7340024233},
                { y: '2018-2-23', a: 8340024233},
                { y: '2018-2-24', a: 6340024233},
                { y: '2018-2-25', a: 13340024233},
                { y: '2018-2-26', a: 10340024233},
                { y: '2018-2-27', a: 11340024233},
                { y: '2018-2-28', a: 19340024233}
            ],
        hideHover: 'auto',
        gridEnabled: false,
        xkey: 'y',
        ykeys: ['a'],
        labels: ['下载量'],
        resize:true
    });

});
</script>
{% endblock %}